# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env/
.venv/
*.egg-info/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React Build
visitor_log/build/

# SQLite DB and migrations
.data/
*.sqlite3
*.db

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# General
*.bak
*.swp
